<%= form_tag url: 'http://catchit.herokuapp.com/images' do |f| %>
	<div class='col-md-4'>
		<%= text_field_tag 'nicetag' %>
	</div><button class='btn btn-large btn-primary' id='nice-button'>Nice Button!</button>
<% end  %>