<%# form_tag url: 'http://catchit.herokuapp.com/images' do |f| %>
	<div class='col-md-4'>
		<%= text_field_tag 'nicetag' %>
	</div><button class='btn btn-large btn-primary' id='nice-button'>Nice Button!</button>
<%# end  %>

<head>
  <title>Pusher Test</title>
  <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('70c1e7aedc206ae2cca0');
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      //alert(data.message);
	  console.log(data)
    });
  </script>
</head>